## Outline
Kaggle Competitions
Titanic - Machine Learning from Disaster

### Modeling

In [4]:
# Import
import numpy as np
import pandas as pd

In [9]:
# Get train data
train = pd.read_csv('temp/train_tmp.csv')
train = train.drop(['PassengerId'], axis=1)

In [ ]:
training = train.drop(['Survived'], axis=1)
target = train['Survived']

In [14]:
train

     Survived  Pclass  Sex  SibSp  Parch  Title  AgeCategory
0           0       3    0      1      0      0          1.0
1           1       1    1      1      0      1          3.0
2           1       3    1      0      0      2          2.0
3           1       1    1      1      0      1          2.0
4           0       3    0      0      0      0          2.0
..        ...     ...  ...    ...    ...    ...          ...
886         0       2    0      0      0      3          2.0
887         1       1    1      0      0      2          1.0
888         0       3    1      1      2      2          1.0
889         1       1    0      0      0      0          2.0
890         0       3    0      0      0      0          2.0

[891 rows x 7 columns]

In [15]:
training

     Pclass  Sex  SibSp  Parch  Title  AgeCategory
0         3    0      1      0      0          1.0
1         1    1      1      0      1          3.0
2         3    1      0      0      2          2.0
3         1    1      1      0      1          2.0
4         3    0      0      0      0          2.0
..      ...  ...    ...    ...    ...          ...
886       2    0      0      0      3          2.0
887       1    1      0      0      2          1.0
888       3    1      1      2      2          1.0
889       1    0      0      0      0          2.0
890       3    0      0      0      0          2.0

[891 rows x 6 columns]

In [47]:
# Import 
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, cross_val_score

In [18]:
# KFold 교차검증 
kfold = KFold(n_splits=20, shuffle=True)

In [20]:
# SVM
model = SVC()
score = cross_val_score(model, training, target, cv=kfold, scoring='accuracy')
print(score.mean())

0.829419191919192

In [46]:
# Random Forest
model = RandomForestClassifier(n_estimators=5)
score = cross_val_score(model, training, target, cv=kfold, scoring='accuracy')
print(score.mean())

0.804949494949495

### Testing

In [75]:
# Model
model = SVC()
model.fit(training, target)

SVC()

In [92]:
# Get test data
test = pd.read_csv('temp/test_tmp.csv')

In [94]:
testing = test.drop(['PassengerId'], axis=1).copy()

In [95]:
prediction = model.predict(testing)

In [96]:
prediction

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1],
      dtype=int64)

In [97]:
submission = pd.DataFrame({
  'PassengerId': test['PassengerId'],
  'Survived': prediction
})
submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [98]:
submission.to_csv('out\submisstion.csv', index=False)